.regular {
  display: flex;
  @media (min-width: 768px) and (max-width: 1999px) {
    display: flex;
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 94px;
    padding-bottom: 50px;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    @media (min-width: 768px) and (max-width: 1999px) {
      font-size: 28px;
      padding-bottom: 30px;
      padding-top: 60px;
    }
  }
  &__list {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 94px;
  }
  &__item {
    display: flex;
    width: 210px;
  }
  &__icon {
    width: 106px;
    height: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid $border-color;
    padding: 16px 32px;
    border-radius: 4px;
    margin-right: 30px;
    &:hover {
      fill: #2196f3;
      border-color: $axent-color;
    }
  }
}
