.logo {
  font-family: "Raleway", sans-serif;
  color: var(--axent-color);
  font-size: 26px;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: 3%;
  margin-right: 93px;
}
.blue {
  color: var(--axent-color);
  font-family: "Raleway", sans-serif;
}
.black {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
}
.white {
  color: var(--white-color);
  font-family: "Raleway", sans-serif;
}