:root {
  --axent-color: #2196f3;
  --white-color: #fff;
  --main-color: #212121;
  --grey: #757575;
  --bg-color: #2f303a;
  --bg-sec-color: #f5f4fa;
  --color: #f5f4fa;
  --border-color: #afb1b8;
}